body {
    background-color: rgb(65, 55, 55);
}

.card {
    width: 210px;
    border: 1px solid grey;
    border-radius: 5px;
    text-align: center;
}

img {
    width: 200px;
    border: 5px rgb(236, 183, 191);
    border-style: solid;
    border-radius: 50%;
}

